.memory-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.memory-headline {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;

  font: 400 44px/50px Freehand, "Helvetica Neue", sans-serif;
}
.test {
  flex: 0 0 31.333333%;
  margin-right: 10px;
  margin-bottom: 10px;
}
