.signup {
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 30rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 10px;
}
.mySnackbar {
  background-color: brown;
}
button.mat-raised-button {
  border-radius: 20px;
  width: 80%;
}
.all-inputs {
  width: 80%;
}
.icons {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}
.mat-body,
.mat-body-1,
.mat-typography {
  font: 400 13px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
.iconFcbook {
  color: blue;
  cursor: pointer;
  align-self: center;
}
.icongoogle {
  color: red;
  cursor: pointer;
  align-self: center;
  font: 400 15px/20px Roboto, "Helvetica Neue", sans-serif;
}
h4 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.buttonAuth {
  margin-top: 30px;
}
.fa-3x {
  font-size: 2.5em;
}
