<!-- <form class="example-form test" #form="ngForm" [formGroup]="myForm">
  <mat-form-field class="example-full-width myInput" appearance="fill">
    <mat-label class="lable">{{ lable }}</mat-label>
    <input
      formControlName="ranForm"
      (change)="onChange2()"
      class="myInput"
      matInput
      [placeholder]="lable"
      [type]="type"
      [value]="value"
      [name]="name"
      ngModel
      [(ngModel)]="value"
      (blur)="functionName()"
    /><mat-icon *ngIf="lable === 'Password'" matSuffix>lock</mat-icon>
  </mat-form-field>
  <mat-error *ngIf="!valid"> {{ this.errorMessage }} </mat-error>
</form> -->
